@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
    circle at center,
    #5a189a 0%,
    #5a189a 10%,
    #3c096c 25%,
    #240046 50%,
    #10002b 100%
  );
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}
